/* Calculator.css */

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 114, 115, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
 
}

@keyframes spin {
  0% {
    transform: rotate( 0deg ) scale( 1.2 );
  }
 20% {
    transform: rotate( 15deg ) scale( 1 );
  }
  50% {
    transform: rotate( -180deg ) scale( 1 );
  }
  100% {
    transform: rotate( -360deg ) scale( 1.1 );
  }
}
.calculator {
  max-width: 280px;
  border-radius: 70px;
  padding: 0 30px;
  padding-block: 50px;
  box-shadow: 0 1px 8px rgba(246, 240, 240, 0.798);
  background-color: #000000;
  color: #fff;
  animation: spin 8s linear infinite;
  
}

.calculator:hover{
  animation: none
}

.display {
  font-size: 36px;
  padding: 10px;
  background-color: #000000;
  margin-bottom: 20px;
  text-align: right;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(255, 255, 255);
  height: 40px;
 
}

.buttons {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.buttons > :nth-child(1) {
  background-color: #000;
  border: none;
  cursor: default;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.bottom > .zero {
  width: 48%;
  border-radius: 20%;
}

button {
  font-size: 24px;
  width: 55px; /* Adjust the width to make it a circle */
  height: 55px; /* Adjust the height to make it a circle */
  padding: 0; /* Remove padding to make it a perfect circle */
  cursor: pointer;
  border: 1px solid #4d4d4f;
  border-radius: 50%; /* Make it a circle */
  background-color: #333335;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

button:active {
  background-color: #2d2d2f;
}

button.operator {
  background-color: rgb(400, 155, 0);
  color: #000;
}

button.operator:active {
  /* not sure what is this for */
  background-color: #e6b800;
}
